<h1> מתוקוש, אנחנו כאן מאז 2005 כדי לעשות לכם הכי מתוק שאפשר! </h1>
<h1> אני, יואל סוויט, מנכ"ל מתוקוש שמתי לעצמי מטרה אחת - שיהיה לכם הכי מתוק, הכי טעים, הכי נגיש, והעיקר - הכי זול! </h1>
<h1 class="h1"> ניתן ליצור איתנו קשר: <h1>
<p> <mat-icon fontIcon="location_on" class="icon"></mat-icon> שדרות ירושלים 15, בני ברק </p>
<p> <mat-icon fontIcon="phone" class="icon"></mat-icon> 03-616-9999 </p>
<p> <mat-icon fontIcon="email" class="icon"></mat-icon> matokush&#64;gmail.com </p>
<p> <mat-icon fontIcon="language" class="icon"></mat-icon> matokush.home.com </p>