@use '../../../styles.scss' as *;

h1 {
  font-size: 36px;
  font-weight: bold;
  color: $color-red;
  margin: 20px 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90deg, $color-pink-1 0%, #ffe6e6 100%);
  border: 1px solid $color-pink-2;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin: 10px;
  width: 250px;
  max-width: 100%;

  img {
    width: 100%;
    color: $color-red;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }

  p {
    font-size: 16px;
    color: $color-red;
    margin: 5px 0;
    font-weight: bold;
  }

  div {
    button {
      display: block;
      width: 100%;
      margin-top: 15px;
      padding: 12px 25px;
      border: none;
      border-radius: 50px;
      background: linear-gradient(90deg, $color-pink-3 0%, $color-pink-1 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(90deg, $color-pink-1 0%, $color-pink-3 100%);
        transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

}


.button {
  margin-top: 20px;
  text-align: center;
  height: 100px;
}

button {
  display: block;
  width: 25%;
  padding: 12px 15px;
  background: $color-red;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}