<div class="navbar">
    <h1>מתוקוש</h1>
    <div class="container">
        <p routerLink="/" routerLinkActive="active"> דף הבית </p>
        <p routerLink="/login" routerLinkActive="active"> כניסה </p>
        <p routerLink="/register" routerLinkActive="active"> הרשמה </p>
        <p routerLink="/profile" routerLinkActive="active"> אזור אישי </p>
        <p routerLink="/cart" routerLinkActive="active"> העגלה שלך </p>
        <p routerLink="/show" routerLinkActive="active"> המוצרים שלנו </p>
    </div>
</div>
